################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/remc2/v15
/.vs/remc2/v16
/remc2/Debug
/outimg
**/vc141.idb
**/vc141.pdb
**/*.log
**/*.db
**/*.ilk
**/*.pdb
**/*.tlog
**/*.obj
**/*.idb
**/*.dbg

**/*.opendb
**/*.ipch
**/*.suo
**/*.a
**/*.so
*.so
*.a

**/remc2.exe
**/remc2.exp
**/remc2.lib
/packages
**/Netherw
/debug.txt
**/CD_Files
**/biggraphics
**/music-ogg
**/config.ini

/build*
.flatpak*
CMakeCache.txt
CMakeFiles/*
cmake_install.cmake
!enhancedassets/*
Makefile
remc2
convertpal
decompresTmaps
compressTMAPS
decompressTMAPS
makecz2
palletelight
test_cfs
xbrz
x64/debug.txt

remc2/editor/debug.txt
